*.iml
.gradle
.kotlin
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/composeApp/libs
/composeApp/build
/tool-processor/build
/iosApp/build
/litertlmBuildScripts/build
/build
/captures
.externalNativeBuild
.cxx
local.properties
/reference
