*.iml
.gradle
.kotlin
/local.properties
/.idea
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/composeApp/build
/iosApp/build/ios_arm64
/iosApp/build/ios_sim_arm64
/build
/captures
.externalNativeBuild
.cxx
local.properties
/reference
